@font-face{
font-family: "Shanti";
src: url(fonts/Shanti/Shanti-Regular.ttf);
}

@font-face{
font-family: "Libre Franklin";
src: url(fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

:root {
	--black: #000000;
	--white: #FFFFFF;
	--pink: #e0245e;
	--gray: #15181c;
}

body {
	font-family: "Shanti", Helvetica, sans-serif;
	background-color: var(--black);
	color: var(--white);
	margin: 0;
	font-size: 17px;
}

*.unselectable {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
 }

::-moz-selection { /* Code for Firefox */
  background: var(--pink);
  color: var(--black);
}

::selection {
  background: var(--pink);
  color: var(--black);
}

a {
	color: var(--pink);
}

a:hover {
	color: var(--white);
	text-decoration: none;
}

header {
	font-family: "Libre Franklin", Gadget, sans-serif;
	background-color: var(--black);
	background-image: url("images/");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	color: var(--white);
	margin-top: 40px;
	padding: 0;
}

header img {
	width: 200px;
	height: auto;
	margin: 20px auto 0 auto;
	display: block;
}

nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--black);
	overflow-x: hidden;
	padding-top: 70px;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
}

nav a {
	text-align: center;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	padding-top: 10px;
	padding-bottom: 10px;
}

nav img {
	display: none;
}

nav a:hover {
	background-color: var(--black);
	color: var(--white);
}

nav .closebtn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3em;
  padding: 0;
}

.navbutton {
	display: flex;
	background-color: var(--black);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	color: var(--white);
	padding: 7px;
	padding-left: 27px;
	border-style: none none solid none;
	border-color: var(--white);
	border-width: 2px;
}

.navbutton span {
	font-size: 40px;
	cursor:pointer;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	/*
	  Introduced in IE 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

main {
	margin: 30px;
	background-color: var(--black);
}

main h2 {
	color: var(--pink);
	font-family: "Libre Franklin", Gadget, sans-serif;
	/*letter-spacing: 0.15vw;*/
	margin-top: 0;

}

.intro h2 {
	text-align: center;
}

.intro p {
	text-align: center;
}

.card {
	display: grid;
	grid-gap: 2vw;
	grid-template-columns: 33% auto;
	width: 100%;
	margin-top: 3vw;
	padding-top: 3vw;
}

.card img {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	margin: auto;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 3;
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 4vw;
	color: var(--pink);
}

.carddetails h3 a {
	color: var(--pink);
	text-decoration: none;
	font-size: 4vw;
}

.carddetails h3 a:hover {
	color: var(--white);
}

.carddetails p {
	font-size: 2.5vw;
	margin-bottom: 0;
	margin-top: 1vw;
}

footer {
	width: 100%;
	text-align: center;
	background-color: var(--black);
	color: var(--white);
	margin: 40px auto 40px auto;
	font-size: 0.7em;
}

footer a {
	color: var(--white);
}

footer a:hover {
	color: var(--pink);
}

.article {
	margin-bottom: 30px;
	max-width: 700px;
}

.article h1 {
	font-family: "Libre Franklin", Gadget, sans-serif;
	margin: 0;
	margin-bottom: 10px;
}

.article .thumb {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.article .authdate {
	font-size: 0.7em;
	font-family: "Libre Franklin", Gadget, sans-serif;
	margin-bottom: 10px;
}

.article .content {
	margin-bottom: 0;
}

.article .content p {
	margin: 0 0 20px 0;
}

.info {
	display: block;
	text-align: center;
	min-height: 600px;
	padding-bottom: 10vw;
}

.info h1 {
	font-family: "Libre Franklin", Gadget, sans-serif;
	font-size: 3em;
}

.info h3 {
	border-bottom: solid;
	border-width: 0.5vw;
	border-color: var(--pink);
	margin: auto;
	width: 70%;
	padding-bottom: 1vw;
	margin-bottom: 1vw;
}

.info span {
	font-family: 'Oswald', sans-serif;
	font-size: 0.8em;
}

.info h2 {
	margin-top: 10vw;
	color: var(--gray);
}

.info .quote {
	color: var(--pink);
}

.info .container {
	display: grid;
	grid-template-rows: 13vw 13vw 13vw 13vw;
	margin-top: 5vw;
}

.info .infobutton {
	cursor: pointer;
	color: var(--white);
	background-color: var(--black);
	text-decoration: none;
	padding: 2vw;
	margin-left: auto;
	margin-right: auto;
	transition: 0.3s;
	border-radius: 0.7vw;
	width: 30vw;
	height: 5vw;
}

.info .infobutton:hover {
	background-color: var(--pink);
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.button {
	margin: auto;
	cursor: pointer;
	background-color: var(--pink);
	color: var(--black);
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	border-radius: 0.7vw;
	width: 30vw;
	height: 7vw;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.button:hover {
	background-color: var(--white);
	color: var(--black);
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

li {
	margin-bottom: 10px;
}

.articlestream {
	padding-bottom: 20px;
}



@media only screen and (min-width: 500px) {

body {
	font-size: 17px;
}

header {
	font-family: "Libre Franklin", Gadget, sans-serif;
	background-color: var(--black);
	background-image: url("images/homebanner.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 10px;
}

header img {
	width: 260px;
	margin: 0 auto 15px auto;
}

header h3 {
	border-width: 5px;
	width: 360px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	font-size: 1em;
	letter-spacing: 2px;
	padding-top: 10px;
}

nav {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 50px;
	padding: 0;
	
	}

nav a {
	margin: 0;
	padding: 14px 50px 14px 50px;
	color: var(--white);
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 900;
	font-size: 1em;
}

nav a:hover {
	background-color: var(--pink);
}

nav img {
	height: 35px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	display: block;
}

.closebtn {
	display: none;
}

.navbutton {
	display: none;
}

main {
	display: grid;
	grid-gap: 30px;
	width: 60%;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 35px;
	max-width: 800px;
}

main h2 {
	letter-spacing: 1px;
}

.intro {
	grid-row: 1/2;
	grid-column: 1/2;
}

.articlefeed {
	grid-row: 2/3;
	grid-column: 1/2;
}

.latest {
	width: 100%
}

.card {
	display: grid;
	grid-gap: 15px;
	width: 100%;
	margin-top: 20px;
	padding-top: 20px;
	grid-template-columns: 25% auto;
}

.card img {
	grid-column-start: 1;
	grid-column-end: 2;
	width: 100%;
	margin: auto;
}

.carddetails {
	grid-column-start: 2;
	grid-column-end: 3;
}

.carddetails h3 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}

.carddetails h3 a {
	text-decoration: none;
	font-size: 1em;
}

.carddetails p {
	font-size: 0.9em;
	margin-bottom: 0;
	margin-top: 8px;
}

footer {
	height: 90px;
	padding-top: 10px;
	font-size: 12px;
	border-width: 5px;
	line-height: 25px;
}

footer a {
	padding: 0;
	text-decoration: none;
}

.article {
	width: 70%;
}

.article h1 {
	margin-bottom: 0;
}

.article .related h2 {
	margin-bottom: 5px;
}

.article .thumb {
	margin-bottom: 5px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.article .authdate {
	font-size: 0.8em;
	margin-bottom: 0;
}

.article .content {
	margin-bottom: 0;
}

.info {
	padding-bottom: 50px;
	width: 500px;
}

.info h1 {
	font-family: "Libre Franklin", Gadget, sans-serif;
	font-size: 3em;
}

.info h2 {
	margin-top: 30px;
}

.info h3 {
	border-bottom: solid;
	border-width: 2px;
	border-color: var(--pink);
	margin: auto;
	padding-bottom: 10px;
	margin-bottom: 10px;
	width: 260px;
}

.info span {
	font-family: "Libre Franklin", Gadget, sans-serif;
	font-size: 0.8em;
}

.info p {
	width: 400px;
	margin: auto;
}

.info .container {
	grid-template-rows: 70px 70px 70px 70px;
	margin-top: 30px;
}

.info .infobutton {
	padding: 20px 0 0 0;
	border-radius: 4px;
	width: 200px;
	height: 40px;
}

.info .infobutton:hover {
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.button {
	border-radius: 4px;
	width: 200px;
	height: 40px;
}

.button:hover {
	box-shadow: 0 1vw 3vw 0 rgba(0,0,0,0.24), 0 1vw 3vw 0 rgba(0,0,0,0.19);
}

.latest {
	display: grid;
	grid-template-columns: 50%  50%;
	grid-template-rows: auto;
	grid-row-gap: 20px;
}

.latest .card {
	width: 90%;
	margin: auto;
}

.latest #first {
	grid-column: 1/3;
	grid-row: 1/2;
}

.latest .card h3 {
	font-size: 20px;
}

.latest #first h3 {
	font-size: 30px;
}

.latest .card {
	grid-template-columns: 33% auto;
}

.latest #first {
	grid-template-columns: 25% auto;
}

.latest #first p {
	font-size: 20px;
}

.latest #first .carddetails {
	font-size: 20px;
}

}

@media only screen and (min-width: 1100px) {

}

@media (min-width: 1450px) {

.article {
	grid-gap: 20px;
	width: 70%;
}

.article h1 {
	font-size: 1.5em;
}

.article h3 {
	margin-top: 0;
}

.article .thumb {
	margin-bottom: 0;
	padding-bottom: 0;
	width: 100%;
}

.article .authdate {
	font-size: 0.8em;
	}

.article .content {
	margin-bottom: 0;
}


}