@font-face{
font-family: Shanti;
src: url(fonts/Shanti/Shanti-Regular.ttf);
}

@font-face{
font-family: "Libre Franklin";
src: url(fonts/Libre_Franklin/LibreFranklin-Regular.ttf);
}

body {
background-color: #000000;
color: #FFFFFF;
font-family: Shanti, Helvetica, sans-serif;
margin: auto;
font-size: 3vw;
}

#wrapper {
margin: auto;
width: 100%;
display: flex;
flex-direction: column;
}

#navbar {
display: flex;
justify-content: center;
align-items: center;
background-color: #FFFFFF;
font-family: "Libre Franklin", Gadget, sans-serif;
font-weight: 900;
width: 100%;
}

#navbar a {
display: flex;
font-size: 3.8vw;
display: block;
color: #000000;
padding: 1vw;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
}

#navbar a img {
height: 5vw;
}

#navbar a:hover {
background-color: #000000;
color: #FFFFFF;
}

#navbar a:hover img {
filter: invert(100%);
}

#navbar a:active {
color: #FFFFFF;
}

.navlogo {
display: none;
}

main {
background-color: #000000;
width: 100%;
}

main div img {
margin: auto;
width: 100%;
height: auto;
}

h1 {
color: #FFFFFF;
font-family: "Libre Franklin", Gadget, sans-serif;
text-align: center;
}

h2 {
color: #e0245e;
font-family: "Libre Franklin", Gadget, sans-serif;\
}

header {
display: flex;
justify-content: center;
}

header a {
margin: auto;
text-decoration: none;
}

header img {
display: flex;
justify-content: center;
margin: auto;
width: 20vw;
height: auto;
margin-top: 2vw;
margin-bottom: 2vw;
}

footer {
background-color: #FFFFFF;
font-weight: 900;
width: 100%;
color: #000000;
text-align: center;
text-decoration: none;
font-size: 2vw;
}

footer a {
color: #000000;
text-align: center;
text-decoration: none;
padding: 1vw;
}

footer a:hover {
color: #FFFFFF;
background-color: #000000;
}

footer a:hover img {
filter: invert(100%) brightness(10%);
}

a {
color: #e0245e;
}

a:hover {
color: #FFFFFF;
}

a:active {
color: #e0245e;
}

iframe {
width: 100%;
height: 50vw;
}

.container {
padding-left: 5vw;
padding-right: 5vw;
padding-bottom: 10vw;
}

.container div {
margin-bottom: 7vw;
}

#card {
margin: auto;
display: grid;
grid-template-columns: auto;
grid-template-rows: auto;
grid-column-gap: 2%;
grid-row-gap: 0;
border-top: solid;
border-top-color: #FFFFFF;
border-top-width: 0.2em;
width: 100%;
margin-bottom: 60px;
}

#card img {
grid-row: 1 / 2;
grid-column: 1 / 2;
width: 100%;
margin-top: 0;
}

#card div {
grid-row: 2 / 3;
grid-column: 1 / 2;
width: 100%;
padding: 2%;
font-size: 3vw;
}

#card p {
padding-right: 10%;
}

#date {
font-size: 2vw;
}


@media only screen and (orientation: landscape) {
body {
font-size: 16px;
}

#wrapper {
width: 80%;
margin-bottom: 3em;
margin-top: 1em;
}

#navbar {
position: fixed;
left: 0;
width: 100px;
display: flex;
flex-direction: column;
padding-bottom: 5px;
padding-top: 5px;
}

#navbar a {
font-size: 1em;
padding: 0;
padding-bottom: 5px;
padding-top: 5px;
text-decoration: none;
width: 100%;
}

#navbar a img {
padding-right: 0;
padding-bottom: 0.2em;
height: 2em;
}

#date {
font-size: 11px;
}

main {

}

header img {
width: 5vw;
height: auto;
}

iframe {
height: 20vw;
}

.container {

}

.container div {
margin-bottom: 0;
}

h1 {
padding-bottom: 8px;
width: 300px;
display: block;
margin-left: auto;
margin-right: auto;
margin-bottom: 40px;
margin-top: 30px;
}

#footimg {
width: 0;
margin-bottom: 20px;
margin-top: 50px;
}

footer {
font-size: 0.6em;
padding-top: 10px;
padding-bottom: 10px;
background-color: #000000;
color: #FFFFFF;
}

footer a {
color: #FFFFFF;
}

header img {
padding: 0;
width: 0;
}

h2 {
margin-top: 0;
}

.navlogo {
padding-bottom: 20px;
padding-top: 7px;
display: inline;
}

#card {margin: auto;
display: grid;
grid-template-columns: 30% 1fr;
grid-template-rows: auto;
grid-column-gap: 2%;
grid-row-gap: 1%;
width: 100%;
margin-bottom: 20px;
}

#card img {grid-column: 1 / 2;
grid-row: 1 / 2;
width: 100%;
margin-top: auto;
margin-bottom: auto;
}

#card div {grid-column: 2 / 3;
grid-row: 1 / 2;
width: 100%;
padding: 2%;
font-size: 1em;
}

}