@media (prefers-color-scheme: dark) {
	:root {
		/* colors */
		--black: #c5c5c5;
		--white: #0f0e1b;
		--light_gray: #5c5c5c;
		--blue: #5ab7e0;
		--light_blue: #95ddfd;
		--wallpaper: url('images/walltexture_dark.jpg');
		--shadow_color: rgba(0, 0, 0, 0.0);
		
	}

	.card img {
		filter: invert(1);
	}

}

@media (prefers-color-scheme: light) {
	:root {
		/* colors */
		--black: #000000;
		--white: #FFFFFF;
		--light_gray: #d1d1d1;
		--blue: #5ab7e0;
		--light_blue: #95ddfd;
		--wallpaper: url('images/walltexture_light.jpg');
		--shadow_color: rgba(0, 33, 100, 0.2);
	}
	
}